html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

wss-editor {
  flex: 2;
  overflow: auto;
}

.tab-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #1e1e1e;
}

.tab-bar {
  display: flex;
  background-color: #252526;
}

.tab-button {
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #9e9e9e;
  font-size: 14px;
  border-bottom: 2px solid transparent;
}

.tab-button.active {
  color: #ffffff;
  border-bottom: 2px solid #007acc;
}

.tab-content {
  flex-grow: 1;
  overflow: auto;
  position: relative;
}

.tab-pane {
  display: none;
  height: 100%;
  width: 100%;
}

.tab-pane.active {
  display: block;
}

wss-terminal {
  height: 100%;
  display: flex;
  flex-direction: column;
}
