html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

wss-editor {
  flex: 2;
  overflow: auto;
}

wss-terminal {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
}

